.messages-container {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .message {
    text-align: right;
    color: rgb(255, 255, 255);
    font-weight: 300;
    letter-spacing: 1px;
    background-color: rgb(25, 135, 255);
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: max-content;
    margin-bottom: 0.3rem;
    font-family: $Open;
  }
  .moment {
    color: rgb(94, 90, 90);
    text-align: right;
    font-size: 0.8rem;
    padding: 0 1rem;
  }
}

.recevied {
  align-items: flex-start;
  .message {
    background-color: rgb(233, 233, 235);
    color: black;
  }
}
