.navgation_bar {
  background-color: #081d33;
  height: 100%;
  border-radius: 2rem;
  text-align: center;

  ul {
    color: #636467;
    font-size: 1.5rem;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-around;
    li {
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        color: white;
        transform: scale(1.1);
      }
    }
    .logout_btn {
      position: relative;
      &:hover span {
        display: inline;
        transition-delay: 4s;
      }
      span {
        padding: 0.5rem;
        background-color: dimgray;
        color: rgb(239, 234, 234);
        font-size: 1rem;
        position: absolute;
        bottom: -2.4rem;
        left: 50%;
        transform: translate(-50%);
        border-radius: 0.4rem;
        display: none;
      }
    }
    .user {
      border-radius: 50%;
      background-color: aliceblue;
      width: 3rem;
      height: 3rem;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;
      &:hover {
        color: #081d33;
        transform: scale(1.1);
      }
    }
  }
}
