.potential_chats {
  background-color: rgba(0, 0, 0, 0.485);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  backdrop-filter: blur(2px);
  .new_chats_container {
    position: relative;
    .close {
      position: absolute;
      top: 0.2rem;
      right: 0.4rem;
      font-size: 1.5rem;
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
    padding: 3rem;
    border-radius: 1rem;
    background-color: rgb(80, 88, 86);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .chats_box {
      margin: 1rem;
      border-radius: 1rem;
      text-align: center;
      height: 4rem;
      width: 10rem;
      gap: 1rem;
      background-color: rgb(238, 239, 249);
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: aliceblue;
        box-shadow: 0 0 2px black;
        transform: scale(1.1);
      }
      .contact_chatslogo {
        background-color: rgb(217, 219, 237);
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .contact_chats {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
      }
    }
  }
}
