.contact {
  display: flex;
  background-color: rgb(238, 239, 249);
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  height: 4rem;
  margin: 1rem 0;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    background-color: rgb(33, 36, 39);
  }
  &:hover .contact_infos h3 {
    color: white;
    visibility: visible;
  }
  &:hover #trash {
    color: white;
    visibility: visible;
    display: block;
    opacity: 1;
  }
  .contact_logo {
    position: relative;
    .online_user {
      width: 0.7rem;
      height: 0.7rem;
      background-color: rgb(13, 221, 15);
      border-radius: 50%;
      position: absolute;
      bottom: -0.1rem;
      left: 1.2rem;
    }
    background-color: rgb(217, 219, 237);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
    .user_icon {
      color: white;
      font-size: 1.3rem;
    }
  }
  .contact_infos {
    margin-top: 1rem;
    align-self: flex-start;
    h3 {
      text-transform: uppercase;
      color: rgb(37, 30, 30);
      font-size: 0.9rem;
    }
    p {
      font-size: 0.8rem;
      color: rgb(129, 131, 139);
    }
  }
  .datas {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    height: 100%;
    .notifications {
      background-color: rgb(96, 96, 175);
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 0.8rem;
    }
    .date {
      font-size: 0.9rem;
      color: rgb(80, 86, 86);
    }
    span {
      opacity: 0;
      &:hover {
        color: red;
      }
    }
  }
}
