.parent {
  font-size: 2rem;
  color: rgb(27, 66, 166);
  position: relative;
  margin-left: 20px;
}

.point {
  width: 10px;
  height: 10px;
  background-color: brown;
  border-radius: 50%;
  position: absolute;
  top: 29px;
  left: 130px;
}

.un {
  top: 29px;
  left: 130px;
  opacity: 0;
  animation: deux 2s infinite ease-in;
  animation-delay: 0.4s;
}

.deux {
  top: 29px;
  left: 150px;
  opacity: 0;
  animation: deux 2s infinite linear;
  animation-delay: 1s;
}

@keyframes deux {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.trois {
  top: 29px;
  left: 170px;
  opacity: 0;
  animation: trois 2s infinite linear;
  animation-delay: 1.7s;
}

@keyframes trois {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
