.chat_page {
  padding: 0.5rem 1rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 7% 93%;
  .chat {
    padding: 2rem 1rem 0 0;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1rem;
    min-width: 100%;

    .chats {
      width: 80%;
      margin: 0 auto;
      .search {
        position: relative;
        input {
          border: 1px solid rgb(87, 83, 83);
          padding: 0.5rem 2rem;
          border-radius: 1rem;
          width: 100%;
        }
        .serach_icon {
          position: absolute;
          top: 0.5rem;
          left: 0.8rem;
        }
      }
      .chats_elements {
        padding: 1rem 0;
      }
    }
    .chats_container {
      height: 80vh;
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user {
          display: flex;
          align-items: center;
          gap: 1rem;
        }

        margin: 0 0 1rem 2rem;
        .contact_logo {
          background-color: rgb(205, 213, 213);
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        span {
          text-transform: uppercase;
        }
      }
      .container_chats {
        overflow-y: auto;
        position: relative;
        background-color: white;
        height: 90%;
        border-radius: 0.5rem;
        form {
          position: absolute;
          bottom: 1rem;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          width: 80%;
          input[type="text"] {
            border: 1px solid black;
            padding: 1rem;
            width: 80%;
            margin: 0 auto;
            border-radius: 2rem;
            font-size: 0.9rem;
            &:focus {
              border: 1px solid rgb(54, 88, 104);
            }
          }
          input[type="submit"] {
            background-color: rgb(60, 78, 153);
            padding: 1rem;
            color: azure;
            text-transform: uppercase;
            border-radius: 2rem;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              background-color: rgb(55, 67, 89);
              color: white;
            }
          }
        }
      }
      .welcom {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .welcom_message {
          text-align: center;
          h1 {
            font-family: $nanum;
            .welcom_icon {
              color: rgb(57, 121, 199);
            }
          }
        }
      }
    }
    .send_message {
      margin: 1rem auto;
      width: 90%;
      input[type="text"] {
        width: 80%;
        border: 1px solid transparent;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: 300;
        &:focus {
          border: 1px solid black;
        }
      }

      input[type="submit"] {
        background-color: rgb(25, 135, 255);
        color: white;
        padding: 1rem 1rem;
        border-radius: 0.5rem;
        margin-left: 2rem;
      }
    }
  }
}
